<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/characters">Character Gallery</a></li>
      <li><a href="/lore">Lore Gallery</a></li>
    </ul>
  </nav>
</header>
<style>
  header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  nav ul li {
    margin: 0 15px;
  }
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  nav ul li a:hover {
    text-decoration: underline;
  }
</style>