/* styles.css */
:root {
  --carousel-width: 80%;
}
@font-face {
  font-family: 'AnimeAce';
  src: url('../fonts/animeace2_reg.ttf') format('truetype');
  src: url('../fonts/animeace2_reg.otf') format('opentype');
}

body {
  font-family: 'AnimeAce', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #b19cd9, #ff9a8b, #fbc2eb, #a1c4fd);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@media (prefers-reduced-motion: reduce) {
  body {
    animation: none !important;
  }
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-size: 4rem; /* Increased font size */
}

/* Carousel Styles */
.carousel {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center images horizontally */
}
.carousel img {
    width: 100%;
    max-width: 400px;
    height: 300px; /* Set a consistent height for all images */
    object-fit: cover; /* Ensure images maintain aspect ratio within the set height */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: block;
    margin: 0 auto;
}
.carousel img:hover {
    transform: scale(1.05);
}
.carousel p {
    text-align: center;
    font-size: 12px; /* Reduced to half of the original size */
    color: #555;
    margin-top: 5px;
}

/* Center links */
.center-link {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
    color: #007BFF;
    text-decoration: none;
}

.center-link:hover {
    text-decoration: underline;
}

/* Center season titles */
.season-title {
    text-align: center;
    margin: 20px 0;
    font-size: 2.25rem; /* Increased by 1.5 times the original size */
    font-weight: bold;
}

/* Center episode titles */
.episode-title {
    text-align: center;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: bold;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
    .carousel {
        margin-bottom: 20px; /* Add spacing between carousels */
    }
    .section {
        padding: 10px; /* Add padding to sections for better spacing */
    }
    h1 {
      font-size: 2.5rem; /* Decreased font size for mobile */
        margin-top: 10px;
    }
    .carousel img {
        max-width: 1000px; /* Double the current max-width for mobile */
    }
}
